<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Cipher_catEntities" connectionString="metadata=res://*/DB_Model.csdl|res://*/DB_Model.ssdl|res://*/DB_Model.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Admin\Documents\Visual Studio 2010\Projects\Enigma_cipher_catalogue\Enigma_cipher_catalogue\Cipher_cat.Enig&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>