<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_ModelContainer" connectionString="metadata=res://*/DB_Model.csdl|res://*/DB_Model.ssdl|res://*/DB_Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\Admin\Desktop\Cipher_cat.enigma&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>